<script type="text/javascript" src="player.js"></script>
<script type="text/javascript">
    new WHMSonic({
        path: "WHMSonic.swf",
        source: "http://198.24.138.226:9842/",
        volume: 100,
        autoplay: true,
        width: 372,
        height: 60,
        twitter: "https://twitter.com/sonicpanel",
        facebook: "http://www.facebook.com/whmsonicfans",
        logo: "http://www.whmsonic.com/flashplayer.php"
    });
</script>
