<script type=text/javascript src=player.js></script>
<script type=text/javascript>swfobject.registerObject(myId, 9.0.0);</script>
Notice: This version can work with all internet explorer versions and with all other browsers.
<div>
<object id=myId classid=clsid:D27CDB6E-AE6D-11cf-96B8-444553540000 width=372 height=60>
<param name=movie value=WHMSonic.swf />
<param name='flashvars' value='source=http://216.59.21.71:9996/&twitter=https://twitter.com/sonicpanel&facebook=http://www.facebook.com/whmsonicfans&logo=http://www.whmsonic.com/flashplayer.php&volume=100&autoplay=true'>
<!--[if !IE]>-->
<object type=application/x-shockwave-flash data=WHMSonic.swf width=372 height=60>
<param name='flashvars' value='source=http://216.59.21.71:9996/&twitter=https://twitter.com/sonicpanel&facebook=http://www.facebook.com/whmsonicfans&logo=http://www.whmsonic.com/flashplayer.php&volume=100&autoplay=true'>
<!--<![endif]-->
<!--[if !IE]>-->
</object>
<!--<![endif]-->
</object>
</div>
