{% set active_page = 'index' %}
{% extends 'base.html.twig' %}
{% block content %}
    <div id="main-content">
        <div class="container">
            <div id="right-content">

            </div>
            <div id="center-content">
                {{errorMessage}}
            </div>
        </div>
    </div>
{% endblock %}
