{% block adsense %}
    <ins class="adsbygoogle ads-responsive"
         style="display:block;"
         data-ad-client="ca-pub-8949501714982201"
         data-ad-slot="2431360576"></ins>
{% endblock %}