<html>
<body style='padding:0; margin:0;'>
<table width='500' border='0' cellspacing='0' cellpadding='0' style='border:#0072c6 1px solid; font-family:Verdana, Geneva, sans-serif; font-size:10px;'>
    <tr class='class-logo'>
        <td height='60px' style='background-color:#0072c6;'><img style='display: block; margin-left: auto; margin-right: auto;' src='{{imgSrc}}' width='103' height='43'></td>
    </tr>
    <tr>
        <td style='padding:8px;'>
            Voc&ecirc; solicitou no site o c&oacute;digo de redefini&ccedil;&atilde;o de senha. Caso n&atilde;o tenha sido voc&ecirc; que solicitou o pedido de redefini&ccedil;&atilde;o, por favor apenas ignore este email.<br>
            <br>
            Para recuperar sua senha, siga as instru&ccedil;&otilde;es como indicado abaixo, passo a passo e ter&aacute; acesso a sua conta novamente.
            <br>
            <br>
            <strong>1)</strong> Para inserir o c&oacute;digo antes de tudo, acesse o link abaixo:<br>
            <br>
            <center><a href='{{url}}' target='_blank' style='text-decoration:none;'><font style='padding:8px; background-color:#0072c6; color:#FFF; font-size:20px;'>Clique aqui para acessar</font></a></center>
            <br>
            <strong>2)</strong> Ap&oacute;s acessar o link, informe a nova senha desejada e confirme a opera&ccedil;&atilde;o.<br>
            <br>
            <strong>3) </strong>Ap&oacute;s os passos acima, entre no hotel com a senha definida na p&aacute;gina.<br>
            <br>
            Em caso de d&uacute;vidas, use a ferramenta de suporte do site. N&atilde;o responda este email, pois &eacute; um email autom&aacute;tico.<br>
            <br>
            <strong>Bom jogo e divirta-se,<br>
                Equipe Mania</strong></td>
    </tr>
    <tr>
        <td height='60px' style='background-color:#0072c6;'>&nbsp;<font style='margin-left:12px; color:#FFF;'>Mania Hotel - Todos os direitos reservados.</font></td>
    </tr>
</table>
</body>
</html>