{% set active_page = 'equipe' %}
{% extends 'base.html.twig' %}
{% block content %}
    <div id="main-content">
        <div class="container">
            <div id="right-content">

                {% include 'login.html.twig' %}
                <div class="box">
                    <h1 class="titleRed">Quem somos?</h1>

                    <p>
                        A equipe staff é responsável por manter a ordem no hotel, incluindo fazer promoções, eventos e
                        cuidar do monitoramento de todas denuncias.<br><br>
                        Todos da equipe tem o comprometimento de dar duro em seus devidos cargos, mais não é tudo
                        trabalho. Eles também são usuários, então também merecem se divertir no hotel, pois um staff no
                        hotel é um trabalho voluntário, ou seja, eles não recebem nada por isso.<br><br>
                        Então nunca desrespeite um membro da equipe, pois ele também é um usuário do hotel, e todo
                        usuário no Mania Hotel(é uma regra), merece respeito!<br><br>
                        <strong class="redText">CEO:</strong> Cuida de forma geral do hotel in-game(dentro do jogo) ou off-game(fora do
                        jogo).<br><br>
                        <strong class="blueText">Administrador:</strong> Responsável principalmente por manter a ordem na equipe, como
                        aprovar promoções ou eventos, chegando até punir caso infração das regras da equipe.<br><br>
                        <strong class="redText">Gerente:</strong> Cuida da parte de eventos, promoções e chegando a cuidar também do
                        monitoramente de infrações dos usuários.<br><br>
                        <strong class="blueText">Moderador:</strong> Responsável por manter a ordem dentro do hotel entre os usuários,
                        resolvendo infrações e casos de denuncia. Também tem liberdade para criar eventos in-game,
                        valendo assim raros ou moedas se for o caso.<br><br>
                        <strong class="redText">Ajudante:</strong> Estão em fase de aprendizado e testes, assim dando suporte aos
                        usuários in-game com duvidas ou sugestões. Em caso de infrações, tem a função de transferir o
                        caso para um superior.
                    </p>
                </div>
            </div>
        </div>

        <div id="center-content">
            <div class="box-full">
                <h1 class="titleRed">Fundadores</h1>
                <div class="staff">
                    <ul>
                        {% for founder in founders %}
                            <li class="red">
                                <img class="avatar"
                                     src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ founder.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                                <span class="username">
                                    {{ founder.username }}
                                    {% if founder.online == 1 %}
                                        <img src="{{ app.request.basepath }}/templates/default/img/online.gif">
                                    {% else %}
                                        <img src="{{ app.request.basepath }}/templates/default/img/offline.gif">
                                    {% endif %}
                                </span>
                                <span class="mission">
                                    {{ founder.motto[:30] }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <div class="box-full">
                <h1 class="titleBlue">Administradores</h1>
                <div class="staff">
                    <ul>
                        {% for administrator in administrators %}
                            <li class="blue">
                                <img class="avatar"
                                     src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ administrator.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                                <span class="username">
                                    {{ administrator.username }}
                                    {% if administrator.online == 1 %}
                                        <img src="{{ app.request.basepath }}/templates/default/img/online.gif">
                                    {% else %}
                                        <img src="{{ app.request.basepath }}/templates/default/img/offline.gif">
                                    {% endif %}
                                </span>
                                <span class="mission">
                                    {{ administrator.motto[:30] }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box-full">
                <h1 class="titleRed">Gerentes</h1>
                <div class="staff">
                    <ul>
                        {% for manager in managers %}
                            <li class="red">
                                <img class="avatar"
                                     src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ manager.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                                <span class="username">
                                    {{ manager.username }}
                                    {% if manager.online == 1 %}
                                        <img src="{{ app.request.basepath }}/templates/default/img/online.gif">
                                    {% else %}
                                        <img src="{{ app.request.basepath }}/templates/default/img/offline.gif">
                                    {% endif %}
                                </span>
                                <span class="mission">
                                    {{ manager.motto[:30] }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box-full">
                <h1 class="titleBlue">Moderadores</h1>
                <div class="staff">
                    <ul>
                        {% for moderator in moderators %}
                            <li class="blue">
                                <img class="avatar"
                                     src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ moderator.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                                <span class="username">
                                    {{ moderator.username }}
                                    {% if moderator.online == 1 %}
                                        <img src="{{ app.request.basepath }}/templates/default/img/online.gif">
                                    {% else %}
                                        <img src="{{ app.request.basepath }}/templates/default/img/offline.gif">
                                    {% endif %}
                                </span>
                                <span class="mission">
                                    {{ moderator.motto[:30] }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box-full">
                <h1 class="titleRed">Ajudantes</h1>
                <div class="staff">
                    <ul>
                        {% for helper in helpers %}
                            <li class="red">
                                <img class="avatar"
                                     src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ helper.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                                <span class="username">
                                    {{ helper.username }}
                                    {% if helper.online == 1 %}
                                        <img src="{{ app.request.basepath }}/templates/default/img/online.gif">
                                    {% else %}
                                        <img src="{{ app.request.basepath }}/templates/default/img/offline.gif">
                                    {% endif %}
                                </span>
                                <span class="mission">
                                    {{ helper.motto[:30] }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
