{% block footer %}
        <footer class="footer"><div class="copyright">{{ footerText }}</div></footer>
        {#google ads#}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        {#facebook#}
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        {#twitter#}
        <script>
            (!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs"));
        </script>
        <script src="{{ app.request.basepath }}/templates/default/js/jquery.min.js"></script>
        <script src="{{ app.request.basepath }}/templates/default/js/jquery.nivo.slider.min.js"></script>
        <script src="{{ app.request.basepath }}/templates/default/js/bootstrap-alert.min.js"></script>
        <script src="{{ app.request.basepath }}/templates/default/js/functions.js"></script>
        <script type="text/javascript">
            iframe = '<iframe id="frameRadio" src={{ app.request.basepath }}/templates/default/radio/player.html?493" height="0" width="0" frameborder="0" allowtransparency="true" style="display: none;"></iframe>';
            function start(status) {
                if (status) {
                    if (!$('#frameRadio').length) {
                        $('#radio').append(iframe);
                    }
                } else {
                    $('#frameRadio').remove();
                }
            }
            start(1);
        </script>

    </body>
    </html>
{% endblock %}