{% block header %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="{{ app.request.basepath }}/templates/default/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/templates/default/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/templates/default/css/nivo-slider.css"/>
</head>
<body>
    <header>
        <div class="container-header">
            <div class="group-header">
                <div class="branding">
                    <div class="logo"></div>
                    <div class="balloon">
                        <span>{{usersOnline}} Maniacos Online</span>
                    </div>
                </div>
                <div class="announcement">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Mania - Small -->
					<ins class="adsbygoogle"
						style="display:inline-block;width:468px;height:60px"
						data-ad-client="ca-pub-8949501714982201"
						data-ad-slot="1704186972"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
                </div>
            </div>
        </div>
        {% block menu %}
            {%include 'menu.html.twig'%}
        {% endblock %}
    </header>
{% endblock %}