{% set active_page = 'index' %}
{% extends 'base.html.twig' %}
{% block content %}
    <div id="main-content">
        <div class="container">
            <div id="right-content">

                {% include 'login.html.twig' %}
                {% include 'ultimosRegistrados.twig' %}

                <div class="box gray">
                    <h1 class="titleBlue">Twitter</h1>
                    <a class="twitter-timeline" href="https://twitter.com/ManiaHotel"
                       data-widget-id="351884679286255616" data-chrome="noheader transparent" data-show-replies="false"
                       width="320" height="225" lang="PT">Tweets de @ManiaHotel</a>
                </div>

            </div>

            <div id="center-content">
                {% include 'slide.html.twig' %}
                {% include 'radio.html.twig' %}
                {% include 'ultimasNoticias.html.twig' %}

                <div class="box gray">
                    <h1 class="titleRed">Facebook</h1>

                    <div class="fb-like-box" data-href="http://www.facebook.com/iManiaHotel" data-width="310"
                         data-height="296" data-show-faces="true" data-stream="false" data-header="false"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
