{% block login %}
    <div class="box">
        <h1 class="titleRed">Área do usuário</h1>
        {% if is_granted('ROLE_USER') %}
            {% include 'painel.html.twig' %}
        {% else %}
            <form method="post" action="{{ path('login_check') }}"  class="spacing">
                <input type="text" name="username" placeholder="Nome de usuário" name="username" class="ipt-text" maxlength="30" size="53" required>
                <input type="password" name="password" placeholder="Senha" class="ipt-text" name="password" maxlength="30" size="53" required>
                <input type="submit" value="Login" class="ipt-btn btn-login">
                <a href="{{ path('recuperar') }}" class="forgout">» Esqueceu sua <span class="redText">senha?</span></a>
            </form>
            {% if error %}
                <div class="alert alert-error">
                    {{ error | replace({"Bad credentials": "Login ou senha inválido."})}}
                    <button class="close" data-dismiss="alert">×</button>
                </div>
            {% endif %}
            <div class="register">
                <a href="{{ path('cadastro') }}">
                    <input type="button" value="registre-se agora" class=".ipt-btn btn-register">
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}