{% block menu %}
    <nav>
        <div class="menu">
            <ul>
                <li {% if 'index' == active_page %} class="active" {% endif %} ><a href="{{ path('index') }}">Principal</a></li>
                <li {% if 'cadastro' == active_page %} class="active" {% endif %} ><a href="{{ path('cadastro') }}">Cadastro</a></li>
                <li {% if 'noticias' == active_page %} class="active" {% endif %} ><a href="{{ path('noticias') }}">Notícias</a></li>
                <li {% if 'equipe' == active_page %} class="active" {% endif %} ><a href="{{ path('equipe') }}">Equipe</a></li>
                <li {% if 'ranking' == active_page %} class="active" {% endif %} ><a href="{{ path('ranking') }}">Ranking</a></li>
            </ul>
        </div>
    </nav>
{% endblock menu %}