{% set active_page = 'noticias' %}
{% extends 'base.html.twig' %}
{% block content %}
    <div id="main-content">
        <div class="container">
            <div id="right-content">
                {% include 'login.html.twig' %}
                {% if othersNotices %}
                    <div class="box">
                        <h1 class="titleBlue">Outras notícias</h1>
                        <div class="notices">
                            <ul>
                                {% for notice in othersNotices %}
                                    <li><a href="{{ path('noticia', {'noticia': notice.id}) }}">{{notice.title}} »</a></li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div id="center-content">
                {% if notice is empty %}
                    <div class="containerMessage">
                        <div class="alert alert-info">
                            Não há notícias cadastradas.
                            <button class="close" data-dismiss="alert">×</button>
                        </div>
                    </div>
                {% else %}
                    <div class="box-full">
                        <div class="rawText">

                            <span class="title">{{ notice.title }}</span>
                            {{ notice.longstory | raw }}

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
