{% block painel %}
    <div class="panel">
        <div class="panel-header">
            <ul>
                <li>Olá <strong>{{app.security.token.user.username}}</strong> bem vindo de volta ao mania</li>
                <li>{{app.security.token.user.motto[:45]}}</li>
                <div class="avatar">
                    <img src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ app.security.token.user.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                </div>
            </ul>
        </div>
        <div class="panel-body">
            <ul>
                <li><img src="{{ app.request.basepath }}/templates/default/img/moedas.png"><span>{{app.security.token.user.credits}} Moedas</span></li>
                <li><img src="{{ app.request.basepath }}/templates/default/img/diamante.png"><span>{{app.security.token.user.diamonds}} Diamantes</span></li>
                <li><img src="{{ app.request.basepath }}/templates/default/img/duckets.png"><span>{{app.security.token.user.points}} Duckets</span></li>
                <li><img src="{{ app.request.basepath }}/templates/default/img/referidos.png"><span>{{app.security.token.user.references}} Referidos</span></li>
            </ul>
        </div>
        <div class="go">
            <a {% if blockEnterClient %} href="#" {% else %}href="{{ path('client') }}" target="_blank" {% endif %}>
                <input type="button" value="ENTRAR NO MANIA" class=".ipt-btn btn-{% if blockEnterClient %}disabled{% else %}client{% endif %}" >
            </a>
        </div>
        <div class="panel-footer">
            <ul>
                {#<li><a href="{{ path('user') }}">Minha página</a></li>#}
                {#<li><a href="{{ path('config') }}">Configurações</a></li>#}
                {% if is_granted('ROLE_MANAGER') %}
                    <li><a href="{{ path('adminNotices') }}">Gerenciar Notícias</a></li>
                {% endif %}
                <li><a href="{{ path('logout') }}">Sair</a></li>
            </ul>
        </div>
    </div>
{% endblock %}