<div id="radio">
    <div class="radio">
        <img class="avatar" src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ radio['look'] }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
            <span class="program">Programa: {{radio['program']}}</span>
            <span class="dj">Com {{radio['dj']}}</span>

        <div class="controls">
            <img class="play" src="{{ app.request.basepath }}/templates/default/img/play.png" onclick="start(1);">
            <img class="stop" src="{{ app.request.basepath }}/templates/default/img/pause.png" onclick="start(0);">
        </div>
    </div>
    <div class="listen">
        <img class="avatar" src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ radio['look'] }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
        <span class="program">Ouvinte destaque: {{ radio['user'] }}</span>
        <span class="dj">Por ser um ouvinte fiel</span>
    </div>
</div>