{% set active_page = 'ranking' %}
{% extends 'base.html.twig' %}
{% block content %}
    <div id="main-content">
        <div class="container">
            <div id="right-content">

                {% include 'login.html.twig' %}
            </div>
        </div>

        <div id="center-content">
            <div class="box-full">
                <h1 class="titleRed">+ Respeitados</h1>
                <div class="ranking">
                    <ul>
                        {% set counter = 1 %}
                        {% for respected in rankingRespected %}
                            <li class="red">
                                <img class="avatar"
                                     src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ respected.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                                <span class="username">
                                    {{ respected.username }}
                                    <span>{{ counter }}</span>
                                </span>
                                <span class="value">
                                    Respeitos: {{ respected.respect }}
                                </span>
                                {% set counter = counter + 1 %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box-full">
                <h1 class="titleBlue">Top diamantes</h1>
                <div class="ranking">
                    <ul>
                        {% set counter = 1 %}
                        {% for diamonds in rankingDiamonds %}
                            <li class="blue">
                                <img class="avatar"
                                     src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ diamonds.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                                <span class="username">
                                    {{ diamonds.username }}
                                    <span>{{ counter }}</span>
                                </span>
                                <span class="value">
                                    Diamantes: {{ diamonds.seasonal_currency }}
                                </span>
                                {% set counter = counter + 1 %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box-full">
                <h1 class="titleRed">Top divulgadores</h1>
                <div class="ranking">
                    <ul>
                        {% set counter = 1 %}
                        {% for advisers in rankingAdvisers %}
                            <li class="red">
                                <img class="avatar"
                                     src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ advisers.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                                <span class="username">
                                    {{ advisers.username }}
                                    <span>{{ counter }}</span>
                                </span>
                                <span class="value">
                                    Referências: {{ advisers.referencias }}
                                </span>
                                {% set counter = counter + 1 %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="box-full">
                <h1 class="titleBlue">Top pontos</h1>
                <div class="ranking">
                    <ul>
                        {% set counter = 1 %}
                        {% for achievementsPoints in rankingAchievementPoints %}
                            <li class="blue">
                                <img class="avatar"
                                     src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ achievementsPoints.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                                <span class="username">
                                    {{ achievementsPoints.username }}
                                    <span>{{ counter }}</span>
                                </span>
                                <span class="value">
                                    Pontos: {{ achievementsPoints.achievement_score }}
                                </span>
                                {% set counter = counter + 1 %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
