{% set active_page = 'index' %}
{% extends 'base.html.twig' %}
{% block content %}
    <div id="main-content">
        <div class="container">
            <div id="right-content">
                {% include 'login.html.twig' %}
            </div>
        </div>

        <div id="center-content">
            <div class="box-full">
                <h1 class="titleRed">Redefinir senha</h1>

                {% if viewForm %}
                    {% if recoverStart %}
                        <div id="form" class="form-register">
                            <form method="post" class="spacing">
                                <input type="email" name="email" placeholder="Digite seu e-mail de registro" class="ipt-text" maxlength="40" size="53" required>
                                <input type="password" name="pin" placeholder="PIN de segurança (4 dígitos númericos)" class="ipt-text" onkeypress="return onlyNumbers(event);" value="" maxlength="4" onpaste="return false;"
                                       size="53" required>
                                <input type="submit" value="Enviar PIN" class="ipt-btn btn-login">
                            </form>
                        </div>
                        <div class="spacing">
                            <p>
                                <strong>Email:</strong> Insira o email que &eacute; usado como login de usu&aacute;rio.<br />
                                <br />
                                <strong>PIN:</strong> Insira o PIN que foi usado na hora de cadastro. N&oacute;s deixamos claro que seria usado em casos como este.<br />
                                <br />
                                <strong>PIN de recupera&ccedil;&atilde;o:</strong> Insira o PIN de 6 d&iacute;gitos que foi enviado em seu email.<br />
                                <br />
                                <strong>&#8250; D&uacute;vidas:</strong><br />
                                <br />
                                <strong>O email n&atilde;o est&aacute; na caixa de entrada:</strong> Caso o email n&atilde;o esteja na caixa de entrada, por favor verifique a LIXEIRA e o SPAM. Alguns servidores de email filtram como SPAM.<br />
                            </p>
                        </div>
                    {% else %}
                        <div id="form" class="form-register">
                            <form method="post" class="spacing">
                                <input type="email" name="email"  class="ipt-text" value="{{mail}}"
                                maxlength="40" size="53" required readonly>
                                <input type="password" name="password" placeholder="Digite a nova senha de acesso" class="ipt-text"
                                       maxlength="30" size="53" required>
                                <input type="password" name="confirm_password" placeholder="Confirme a nova senha de acesso" class="ipt-text"
                                       maxlength="30" size="53" required>
                                <input type="hidden" name="id" value="{{id}}">
                                <input type="submit" value="Confirmar" class="ipt-btn btn-login">
                            </form>
                        </div>
                        <div class="spacing">
                            <p>
                                Informe sua nova senha de acesso ao lado e confirme a operação.
                                <br />
                                Após este processo, você irá conseguir se logar com a sua nova senha de acesso.
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
                {% if app.session.getFlashBag.peek('message') %}
                    {% for message in app.session.getFlashBag.get('message') %}
                        <div class="msg">
                            <div class="alert alert-{{message.type}}">
                                {{ message.text | raw}}
                                <button class="close" data-dismiss="alert">×</button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
