{% set active_page = 'cadastro' %}
{% extends 'base.html.twig' %}
{% block content %}
    <div id="main-content">
        <div class="container">
            <div id="right-content">
                {% include 'login.html.twig' %}
            </div>
        </div>

        <div id="center-content">
            <div class="box-full">
                <h1 class="titleRed">Área de registro</h1>

                {% if formVisible %}
                    <div id="form" class="form-register">
                        <form method="post" class="spacing">
                            <input type="text" name="username" placeholder="Nome de usúario" name="username" class="ipt-text"
                                   maxlength="20" size="53" required>
                            <input type="password" name="password" placeholder="Senha de acesso" class="ipt-text" name="password"
                                   maxlength="30" size="53" required>
                            <input type="email" name="email" placeholder="Email de contato" class="ipt-text" name="email"
                                   maxlength="40" size="53" required>
                            <input type="password" name="pin" placeholder="PIN de segurança (4 dígitos númericos)" class="ipt-text" name="pin" onkeypress="return onlyNumbers(event);" value="" maxlength="4" onpaste="return false;"
                                   size="53" required>
                            <input type="submit" value="Registrar" class="ipt-btn btn-login">
                        </form>
                    </div>
                    <div class="spacing">
                        <p>
                            Bem-Vindo(a) a área de registro do mania hotel, para se registrar no hotel você terá que seguir
                            as regras do mania etiqueta, assim concordando em seguir as regras do nosso hotel para assim uma
                            melhor organização in-game. <br><br>
                            Você pode criar apenas uma conta por IP caso você for pego com uma ou mais conta você pode
                            acabar sendo banido permanente do hotel, respeite os usuários e os membros da equipe estamos
                            aqui para lhe ajuda, quaisquer dúvida use o sistema de ticket assim podemos lhe atender
                            rapidamente, retirando dúvidas etc.<br><br>
                            Esperamos que possa ter uma boa estadia em nosso hotel divirta-se.
                        </p>
                    </div>
                {% endif %}
                {% if app.session.getFlashBag.peek('message') %}
                    {% for message in app.session.getFlashBag.get('message') %}
                        <div class="msg">
                            <div class="alert alert-{{message.type}}">
                                {{ message.text | raw}}
                                <button class="close" data-dismiss="alert">×</button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
