<div id="slide" class="theme-default">
    <div class="nivoSlider">
        <img src="{{ app.request.basepath }}/templates/default/img/slide1.png" title="Um novo site, uma nova era... Várias novidades!">
    </div>
</div>