{% block noticias %}
    {% if notices %}
        <div class="box gray">
            <h1 class="titleBlue">Últimas notícias</h1>
            <ul class="list-notices">
                {% for noticia in notices %}
                    <img class="imgNotice" src="{{noticia.image}}">
                    <li class="even"><a href="{{ path('noticia', {'noticia': noticia.id}) }}">{{noticia.title}}</a></li>
                    <li><img src="{{ app.request.basepath }}/templates/default/img/block.png"> {{noticia.shortstory}} <span>{{noticia.author}}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}