{% block ultimosRegistrados %}
    {% if users %}
        <div class="box gray">
            <h1 class="titleBlue">Últimos usuários registrados no hotel</h1>
            <ul class="list">
                {% for user in users %}
                    <li class="even"><strong>{{user.username}}</strong> registrou-se no hotel.</li>
                    <li><img src="{{ app.request.basepath }}/templates/default/img/clock.png"/> Data: {{user.account_created|date("d/m/Y")}}</li>
                    <img class="blockImg" src="http://www.habbo.de/habbo-imaging/avatarimage?figure={{ user.look }}&size=s&action=wav&direction=2&head_direction=3&gesture=sml">
                {%endfor%}
            </ul>
        </div>
    {% endif %}
{% endblock %}