* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background: #d7d7d7;
    font-size: 11px;
    /*text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);*/
}

.container-header {
    background: #1567a4;
    height: 151px;
    width: 100%;
}

.container-header .group-header {
    margin: 0 auto;
    width: 960px;
}

.group-header .branding {
    position: relative;
    top: 50px;
}

.branding .logo {
    background-image: url("../img/logo.png");
    height: 43px;
    width: 103px;
    float: left;
}

.branding .balloon {
    background: url("../img/ballon.png") no-repeat;
    margin: 2px 0 0 5px;
    height: 36px;
    width: 137px;
    float: left;
}

.balloon span {
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    display: block;
}

.group-header .announcement {
    top: 30px;
    position: relative;
    margin-left: 40%;
}

.menu {
    width: 100%;
    background: #1f1f1f;
    border-bottom: 4px solid #a32c2e;
    font-size: 12px;
}

.menu ul {
    margin: 0 auto;
    width: 960px;
}

.menu ul li {
    list-style: none;
    float: left;
}

.menu ul li:hover {
    cursor: default;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 20px;
}

.menu:after, .menu ul:after {
    content: '';
    display: block;
    clear: both;
}

.menu > ul > li > a {
    line-height: 48px;
}

.menu ul li:hover > a, .menu ul li.active > a {
    background: #a32c2e;
    color: #FFFFFF;
}

#main-content {
    margin: 0 auto;
    width: 960px;
    min-height: 100%;
    text-align: left;
    background-color: #272727;
    overflow: hidden;
    padding-top: 10px;
}

#slide {
    width: 625px;
}

#right-content {
    padding-right: 5px;
    width: 320px;
    float: right;
}

.panel {
    padding: 10px 0 10px 13px;
}

.panel-header .avatar {
    position: absolute;
    margin-top: -61px;
    padding-left: 12px;
    background: #FFFDEC;
    width: 35px;
    height: 58px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.panel-header .avatar img {
    position: relative;
    left: -5px;
    top: -3px;
}

.panel ul {
    list-style: none;
}

.panel-header li {
    background-color: #161616;
    color: #cccccc;
    min-height: 25px;
    line-height: 25px;
    padding-left: 45px;
    margin: 0 12px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.panel-body {
    margin-top: 10px;
}

.panel-body li {
    background-color: #161616;
    color: #cccccc;
    height: 25px;
    width: 137px;
    display: inline-block;
    line-height: 25px;
    margin: 0 2px 5px 0;
    padding-left: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.panel-body li img {
    position: relative;
    top: 3px;
}

.panel-body li span {
    padding-left: 3px;
}

.panel-footer {
    margin-top: 5px;
}

.panel-footer li {
    background-color: #161616;
    color: #cccccc;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 0 12px 5px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.panel-footer a {
    color: #cccccc;
}

.panel-footer li a:link {
    color: #cccccc;
    text-decoration: none;
    -webkit-transition: color 0.7s ease-out;-moz-transition:
    color 0.7s ease-out;transition: color 0.7s ease-out;
}

.panel-footer li a:hover {
    color: #FFFFFF;
    text-decoration:none;
    filter:alpha(opacity=100);
    -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;
}

.box {
    background: #202020 repeat-y top center;
    border-bottom: 1px solid #222;
    margin-bottom: 8px;
}

.box p {
    padding: 5px 5px;
    color: #ffffff;
}

.gray {
    background: #E4E4E4 repeat-y top center;
}

h1 {
    line-height: 30px;
    font-size: 11px;
    font-weight: bold;
    padding-left: 14px;
    color: #ffffff;
}

.box .titleRed {
    background: url(../img/headerBoxRed.png) no-repeat left top;
}

.box .titleBlue {
    background: url(../img/headerBoxBlue.png) no-repeat left top;
}

.box-full .titleBlue {
    background: url(../img/headerBoxFullBlue.png) no-repeat left top;
}

.box-full .titleRed {
    background: url(../img/headerBoxFullRed.png) no-repeat left top;
}

.ipt-btn {
    background: url(../img/btn.png) no-repeat;
    color: #000000;
    font: 11px Verdana;
    cursor: pointer;
    margin-top: 5px;
}

.btn-logout {
    background: url(../img/btnlogout.png) no-repeat;
    color: #FFFFFF;
    width: 295px;
    height: 36px;
}

.btn-notice {
    background: url(../img/btnlogout.png) no-repeat;
    color: #FFFFFF;
    width: 295px;
    height: 36px;
    margin: 10px 5px;
}

.btn-register {
    background: #a32c2e;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    height: 36px;
}

.go {
   width: 295px;
}

.btn-client {
    background: #a32c2e;
    cursor: pointer;
    outline: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-client:hover {
    background-color: rgb(180, 7, 7);
    box-shadow: inset 0 -25px 20px #a32c2e;
}

.btn-login {
    width: 155px;
    height: 36px;
}

.forgout {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-left: 5px;
}

.register {
    margin-left: 13px;
    padding-bottom: 17px;
    width: 295px;
}

.spacing {
    padding: 18px 0 10px 13px;
}

.spacing p {
    color: #ffffff;
}

.redText {
    color: #a32c2e;
}

.blueText {
    color: #1567a4;
}

.ipt-text {
    background-color: #161616;
    border-right: 1px solid #1C1C1C;
    border-bottom: 1px solid #303030;
    border-left: 1px solid #181818;
    padding: 5px;
    margin-bottom: 5px;
    height: 20px;
    font-size: 11px;
    color: #8E8E8E;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 285px;
}

.rawText {
    color: #ffffff;
    margin-top: 5px;
}

.rawText .title {
    color: #EB9D3A;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.rawText p {
    margin: 1em;
}

.list {
    list-style: none;
    margin-top: 4px;
}

.list li {
    padding-left: 40px;
    line-height: 26px;
    color: #666666;
    height: 28px;
}

.list li img {
    margin: 0 auto;
    vertical-align: middle;
}

.list .even {
    background-color: #D3D3D3;
    height: 20px;
    margin-top: 4px;
    line-height: 20px;
}

.blockImg {
    position: absolute;
    margin-top: -60px;
    padding-left: 3px;
}

.notices ul {
    list-style: none;
    margin-top: 4px;
}

.notices ul li {
    font-weight: bold;
    height: 20px;
}

.notices ul li a {
    padding-left: 8px;
    text-decoration: none;
    color: #ffffff;
}

.list-notices {
    list-style: none;
    margin-top: 4px;
}

.list-notices li {
    padding-left: 65px;
    line-height: 26px;
    color: #666666;
    height: 28px;
}

.list-notices li span {
    float: right;
    display: inline;
    margin-right: 3px;
}

.list-notices li img {
    margin: 0 auto;
    vertical-align: middle;
}

.list-notices .even {
    background-color: #D3D3D3;
    height: 20px;
    line-height: 20px;
}

.list-notices .even a {
    color: #000000;
    text-decoration: none;
}

.ranking ul {
    list-style: none;
    margin-top: 2px;
}

.ranking li {
    float: left;
    width: 33%;
    height: 70px;
    color: #FFFFFF;
}

.ranking .red {
    background: url("../img/rankingRed.png") no-repeat;
}

.ranking .blue {
    background: url("../img/rankingBlue.png") no-repeat;
}

.ranking ul li .username {
    font-weight: bold;
    position: relative;
    left: 30px;
    top: -35px;
}

.ranking ul li .avatar {
    position: relative;
    left: 15px;
    width: 33px;
}

.ranking .username span {
    font-weight: bold;
    position: absolute;
    left: 114px;
    top: 0;
}

.ranking .value {
    position: relative;
    left: 67px;
    top: -23px;
    display: block;
}

.staff ul {
    list-style: none;
    margin-top: 2px;
}

.staff li {
    float: left;
    width: 50%;
    height: 78px;
}

.staff ul li .avatar {
    position: relative;
    left: 30px;
    top: 5px;
    width: 33px;
}

.staff ul li span {
    color: #FFFFFF;
}

.staff ul li .username {
    font-weight: bold;
    position: relative;
    left: 48px;
    top: -27px;
}

.staff .username img {
    position: absolute;
    left: 140px;
    top: -1px;
}

.staff ul li .mission {
    position: relative;
    left: 84px;
    top: -15px;
    display: block;
    width: 170px;
}

.staff .red {
    background: url("../img/staffRed.png") no-repeat;
}

.staff .blue {
    background: url("../img/staffBlue.png") no-repeat;
}

.imgNotice {
    position: absolute;
    padding-left: 1px;
    width: 60px;
    height: 45px;
}

.form-register {
    float: left;
    width: 50%;
    margin-right: 20px;
    height: 220px;
}

#center-content {
    width: 630px;
    float: left;
    margin-left: 5px;
}

.containerMessage {
    width: 98%;
}

#center-content .box {
    width: 310px;
    float: left;
    margin-right: 5px;
}

#center-content .box-full {
    width: 625px;
    float: left;
    margin: 0 0 5px;
    background: #202020 repeat-y top center;
    border-bottom: 1px solid #222;
}

.box-full .msg {
    margin: 5px 10px 5px;
    clear: both;
}

#radio {
    margin: 4px 0 5px 0;
}

#radio .controls {
    background: url("../img/fundoplay.png") no-repeat;
    position: relative;
    top: -53px;
    left: 245px;
    height: 55px;
    width: 61px;
}

.controls .play {
    margin-left: 15px;
    margin-top: 11px;
}

.controls .play:hover {
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
}

.controls .stop {
    display: block;
    margin-left: 37px;
    margin-top: 3px;
}

.controls .stop:hover {
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
}

#radio .radio {
    background: url("../img/radio.png") no-repeat;
    width: 315px;
    height: 78px;
    float: left;
}

#radio span {
    color: #ffffff;
}

#radio .program {
    position: relative;
    left: 40px;
    top: -27px;
}

#radio .dj {
    display: block;
    position: relative;
    left: 75px;
    top: -15px;
}

#radio .listen {
    background: url("../img/listen.png") no-repeat;
    width: 310px;
    height: 78px;
    float: left;
}

#radio .avatar {
    position: relative;
    left: 22px;
    top: 5px;
}

.twitter-timeline {
    vertical-align: bottom;
}

.footer {
    background: #1f1f1f;
    height: 35px;
    width: 100%;
    border-top: 15px solid #a32c2e;
}

.footer .copyright {
    line-height: 30px;
    color: #cccccc;
    margin: 0 auto;
    width: 960px;
}

.ads-responsive {
    width: 320px;
    height: 50px;
}

.ads-responsive { width: 320px; height: 50px; }
@media (min-width: 500px) { .ads-responsive { width: 468px; height: 60px; } }
@media (min-width: 960px) { .ads-responsive { width: 600px; height: 90px; } }
@media (min-width: 1200px) { .ads-responsive { width: 728px; height: 90px; } }

.box .alert {
    margin: 0 13px 5px;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

.alert,
.alert h4 {
    color: #c09853;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.alert-success h4 {
    color: #468847;
}
.alert-danger,
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.alert-danger h4,
.alert-error h4 {
    color: #b94a48;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.alert-info h4 {
    color: #3a87ad;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.btn-disabled {
    outline: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    background: #fff;
    overflow: hidden;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 5px;
}

.datagrid table td, .datagrid table th {
    padding: 3px 10px;
}

.datagrid table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #383737));
    background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
    background-color: #8C8C8C;
    color: #FFFFFF;
    border-left: 1px solid #8F8787;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #7D7D7D;
    border-left: 1px solid #DBDBDB;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #EBEBEB;
    color: #7D7D7D;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid table tfoot td div {
    border-top: 1px solid #8C8C8C;
    background: #EBEBEB;
}

.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}

.datagrid table tfoot td div {
    padding: 2px;
}

.datagrid table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.datagrid table tfoot li {
    display: inline;
}

.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #F5F5F5;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));
    background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
    background-color: #8C8C8C;
}

.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #7D7D7D;
    color: #F5F5F5;
    background: none;
    background-color: #8C8C8C;
}

div.dhtmlx_window_active, div.dhx_modal_cover_dv {
    position: fixed !important;
}