{% set active_page = '' %}
{% extends 'base.html.twig' %}
{% block content %}
    <div id="main-content">
        <div class="container">
            <div id="right-content">
                {% include 'login.html.twig' %}
            </div>
            <div id="center-content">
                <div class="box-full">
                    <h1 class="titleRed">Gerenciar notícias</h1>
                    {% if type == 'view' %}
                        <div class="datagrid">
                            <table>
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Título</th>
                                    <th>Autor</th>
                                    <th>Operações</th>
                                </tr>
                                </thead>
                                {% if numPages > 1 %}
                                    <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <div id="paging">
                                                <ul>
                                                    <li {% if currentPage == 1 %}class="disabled"{% endif %}>
                                                        <a href="{{ here }}?page={{ currentPage - 1 }}">Anterior</a>
                                                    </li>
                                                    {% for i in 1..numPages %}
                                                        <li {% if currentPage == i %}class="active"{% endif %}>
                                                            <a href="{{ here }}?page={{ i }}">{{ i }}</a>
                                                        </li>
                                                    {% endfor %}
                                                    <li {% if currentPage == numPages %}class="disabled"{% endif %}>
                                                        <a href="{{ here }}?page={{ currentPage + 1 }}">Próximo</a>
                                                    </li>
                                                </ul>
                                            </div>
                                    </tr>
                                    </tfoot>
                                {% endif %}
                                <tbody>
                                {% set classAlt = 0 %}
                                {% for notice in notices %}
                                    <tr {% if loop.index is odd %} class="alt" {% endif %}>
                                        <td> {{ notice.id }} </td>
                                        <td> {{ notice.title }} </td>
                                        <td> {{ notice.author }} </td>
                                        <td>
                                            <a href="{{ path('adminNoticesEdit', {'notice': notice.id}) }}">edit</a>
                                            <a href="{{ path('adminNoticesDelete', {'notice': notice.id}) }}">delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('adminNoticesAdd') }}">
                            <input type="button" value="Adicionar notícia" class=".ipt-btn btn-notice">
                        </a>

                        {% if app.session.getFlashBag.peek('message') %}
                            {% for message in app.session.getFlashBag.get('message') %}
                                <div class="msg">
                                    <div class="alert alert-{{message.type}}">
                                        {{ message.text | raw}}
                                        <button class="close" data-dismiss="alert">×</button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <div id="form" class="form-register" style="height: 100%">
                            <form method="post" class="spacing">
                                <input type="text" name="title" placeholder="Título da notícia" class="ipt-text" size="60" required value="{% if type == 'edit' %} {{ notice.title }} {% endif %}">
                                <input type="text" name="description" placeholder="Descrição" class="ipt-text" size="60" required value="{% if type == 'edit' %} {{ notice.shortstory }} {% endif %}">
                                <input type="text" name="image" placeholder="Link para imagem" class="ipt-text" size="60" required value="{% if type == 'edit' %} {{ notice.image }} {% endif %}">
                                <textarea name="content">{% if type == 'edit' %} {{ notice.longstory }} {% endif %}</textarea>
                                <input type="submit" value="Postar" class="ipt-btn btn-login">
                            </form>
                        </div>

                        <script src="{{ app.request.basepath }}/templates/default/tinymce/tinymce.min.js"></script>
                        <script>
                            tinymce.init({
                                selector: "textarea",
                                theme : "modern",
                                plugins: [
                                    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                                    "save table contextmenu directionality emoticons template paste textcolor"
                                ],
                                width: 600
                            });
                        </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
